* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div.grid-container {
  max-height: 300px;
  max-width: 300px;
  min-width: 300px;
  min-height: 300px;
  border: black solid 5px;
  display: grid;
  grid-template-columns: repeat(6, auto);
  grid-template-rows: repeat(6, auto);
}

.grid-container div {
  border: solid black 1px;
  height: auto;
  width: auto;
}

.grid-square-hover {
  background-color: black;
}

.slidecontainer {
}

.slider {
}
